{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/prefer-default-export": "off",
    "camelcase": ["error", { "ignoreDestructuring": true, "properties": "never"}],
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-array-index-key": 0,
    "react/jsx-no-target-blank": 0,
    "react/prop-types": 0,
    "linebreak-style": 0
  }
}
