html, body,
p {
  margin: 0;
}

body {
  /* width: 100vw; */
  min-height: 100vh;
  background-color: lightskyblue;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #4c5b5c;
}
